        /* 全局样式 */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        /* 博客文章列表样式 */
        #blogPosts {
            max-width: 800px;
            margin: 20px auto;
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }

       .blogPost {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
        }

        .blogPost:hover {
            transform: scale(1.02);
        }

        .blogPost h2 {
            color: #555;
            margin-top: 0;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .blogPost p {
            color: #777;
            line-height: 1.5;
            margin-bottom: 0;
        }

        .blogPost a {
            color: #007bff;
            text-decoration: none;
        }

        .blogPost a:hover {
            text-decoration: underline;
        }

        .blogPost .readMore {
            margin-top: 10px;
        }

        /* 响应式设计 */
        @media screen and (max-width: 600px) {
            #blogPosts {
                grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
            }
        }